# • Notebook “DAY 11 (Data Aggregation and GroupBy)":-

These topics cover in this notebook:-

# GroupBy aggregations:-

# 1- GroupBy Aggregation-
.groupby(),sum(),mean(),max(),min(),count()

In [3]:
import numpy as np
import pandas as pd

#Reading a CSV file-

movie=pd.read_csv("C:\\Users\\Prince Chandravat\\Downloads\\imdb-top-1000.csv")
movie.head()

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0
1,The Godfather,1972,175,Crime,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
3,The Godfather: Part II,1974,202,Crime,9.0,Francis Ford Coppola,Al Pacino,1129952,57300000.0,90.0
4,12 Angry Men,1957,96,Crime,9.0,Sidney Lumet,Henry Fonda,689845,4360000.0,96.0

In [14]:
genre=movie.groupby('Genre')
genre

In [54]:
#Sum of Genre - using Groupby function().

genre.sum().head()

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,The Dark KnightThe Lord of the Rings: The Retu...,2008200320102001200219991980197719621954200019...,22196,1367.3,Christopher NolanPeter JacksonChristopher Nola...,Christian BaleElijah WoodLeonardo DiCaprioElij...,72282412,3.263226e+10,10499.0
Adventure,InterstellarBack to the FutureInglourious Bast...,2014198520091981196819621959201319751963194819...,9656,571.5,Christopher NolanRobert ZemeckisQuentin Tarant...,Matthew McConaugheyMichael J. FoxBrad PittJürg...,22576163,9.496922e+09,5020.0
Animation,Sen to Chihiro no kamikakushiThe Lion KingHota...,2001199419882016201820172008199719952019200920...,8166,650.3,Hayao MiyazakiRoger AllersIsao TakahataMakoto ...,Daveigh ChaseRob MinkoffTsutomu TatsumiRyûnosu...,21978630,1.463147e+10,6082.0
Biography,Schindler's ListGoodfellasHamiltonThe Intoucha...,1993199020202011200220171995198420182013201320...,11970,698.6,Steven SpielbergMartin ScorseseThomas KailOliv...,Liam NeesonRobert De NiroLin-Manuel MirandaÉri...,24006844,8.276358e+09,6023.0
Comedy,GisaengchungLa vita è bellaModern TimesCity Li...,2019199719361931200919641940200120001973196019...,17380,1224.7,Bong Joon HoRoberto BenigniCharles ChaplinChar...,Kang-ho SongRoberto BenigniCharles ChaplinChar...,27620327,1.566387e+10,9840.0

In [25]:
#find the top 3 geners by total earning-

genre.sum()['Gross'].sort_values(ascending=False).head(3) #top 3 highest earning geners.
# first sum of all generes with Gross then sort with descending ording .

Genre
Drama     3.540997e+10
Action    3.263226e+10
Comedy    1.566387e+10
Name: Gross, dtype: float64

In [26]:
#finding the genre with highest avg imdb rating-

movie.groupby('Genre')['IMDB_Rating'].mean().sort_values(ascending=False).head(1)

Genre
Western    8.35
Name: IMDB_Rating, dtype: float64

In [42]:
#What is the highest IMDb rating for each year-

movie.groupby('Released_Year')['IMDB_Rating'].max()
# Groupby 'Released_Year' and max() on IMDB_Rating.

Released_Year
1920    8.1
1921    8.3
1922    7.9
1924    8.2
1925    8.2
       ...
2017    8.4
2018    8.4
2019    8.6
2020    8.6
PG      7.6
Name: IMDB_Rating, Length: 100, dtype: float64

In [55]:
# How many movies have a Meta score above the average Meta score-

#movies with the avg Metascore-
avg_metascore=movie['Metascore'].mean()
avg_metascore

#Filter movies with the high score than average_metascore.
above_avg=movie[movie['Metascore']>avg_metascore]
above_avg

#count the movies high metascore than average metascore.
count_above_avg_metascore=above_avg.shape[0]

print("Average Meta Score:- ",avg_metascore)
print("No. of Movie with above metascore than average metascore:- ",count_above_avg_metascore)

above_avg

Average Meta Score:-  77.97153024911032
No. of Movie with above metascore than average metascore:-  456

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0
1,The Godfather,1972,175,Crime,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
3,The Godfather: Part II,1974,202,Crime,9.0,Francis Ford Coppola,Al Pacino,1129952,57300000.0,90.0
4,12 Angry Men,1957,96,Crime,9.0,Sidney Lumet,Henry Fonda,689845,4360000.0,96.0
...,...,...,...,...,...,...,...,...,...,...
994,A Hard Day's Night,1964,87,Comedy,7.6,Richard Lester,John Lennon,40351,13780024.0,96.0
996,Giant,1956,201,Drama,7.6,George Stevens,Elizabeth Taylor,34075,195217415.0,84.0
997,From Here to Eternity,1953,118,Drama,7.6,Fred Zinnemann,Burt Lancaster,43374,30500000.0,85.0
998,Lifeboat,1944,97,Drama,7.6,Alfred Hitchcock,Tallulah Bankhead,26471,852142728.0,78.0
999,The 39 Steps,1935,86,Crime,7.6,Alfred Hitchcock,Robert Donat,51853,302787539.0,93.0

In [88]:
# Among the top 5 genres with the most movies, which one has the highest average rating-

#Top 5 genres by IMDB_Rating-
top_5_genres = movie['Genre'].value_counts().head(5).index.tolist()
top_5_genres

filter=movie[movie['Genre'].isin(top_5_genres)]
avg=filter.groupby('Genre')['IMDB_Rating'].mean()
avg

Genre
Action       7.949419
Biography    7.938636
Comedy       7.901290
Crime        8.016822
Drama        7.957439
Name: IMDB_Rating, dtype: float64

In [99]:
len(movie.groupby('Genre'))  #length of 'Genre'

14

In [100]:
#attributes & methods-
# len(),size(),first(),last(),nth()

# How many movies are there in each genre-
movie.groupby('Genre').size()

Genre
Action       172
Adventure     72
Animation     82
Biography     88
Comedy       155
Crime        107
Drama        289
Family         2
Fantasy        2
Film-Noir      3
Horror        11
Mystery       12
Thriller       1
Western        4
dtype: int64

In [105]:
# What is the first and last movie in each genre based on the original dataset order-

movie.groupby('Genre').first()

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,The Dark Knight,2008,152,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
Adventure,Interstellar,2014,169,8.6,Christopher Nolan,Matthew McConaughey,1512360,188020017.0,74.0
Animation,Sen to Chihiro no kamikakushi,2001,125,8.6,Hayao Miyazaki,Daveigh Chase,651376,10055859.0,96.0
Biography,Schindler's List,1993,195,8.9,Steven Spielberg,Liam Neeson,1213505,96898818.0,94.0
Comedy,Gisaengchung,2019,132,8.6,Bong Joon Ho,Kang-ho Song,552778,53367844.0,96.0
Crime,The Godfather,1972,175,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0
Drama,The Shawshank Redemption,1994,142,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0
Family,E.T. the Extra-Terrestrial,1982,115,7.8,Steven Spielberg,Henry Thomas,372490,435110554.0,91.0
Fantasy,Das Cabinet des Dr. Caligari,1920,76,8.1,Robert Wiene,Werner Krauss,57428,337574718.0,NaN
Film-Noir,The Third Man,1949,104,8.1,Carol Reed,Orson Welles,158731,449191.0,97.0
Horror,Psycho,1960,109,8.5,Alfred Hitchcock,Anthony Perkins,604211,32000000.0,97.0
Mystery,Memento,2000,113,8.4,Christopher Nolan,Guy Pearce,1125712,25544867.0,80.0
Thriller,Wait Until Dark,1967,108,7.8,Terence Young,Audrey Hepburn,27733,17550741.0,81.0
Western,"Il buono, il brutto, il cattivo",1966,161,8.8,Sergio Leone,Clint Eastwood,688390,6100000.0,90.0

In [104]:
movie.groupby('Genre').last()

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,Escape from Alcatraz,1979,112,7.6,Don Siegel,Clint Eastwood,121731,43000000.0,76.0
Adventure,Kelly's Heroes,1970,144,7.6,Brian G. Hutton,Clint Eastwood,45338,1378435.0,50.0
Animation,The Jungle Book,1967,78,7.6,Wolfgang Reitherman,Phil Harris,166409,141843612.0,65.0
Biography,Midnight Express,1978,121,7.6,Alan Parker,Brad Davis,73662,35000000.0,59.0
Comedy,Breakfast at Tiffany's,1961,115,7.6,Blake Edwards,Audrey Hepburn,166544,679874270.0,76.0
Crime,The 39 Steps,1935,86,7.6,Alfred Hitchcock,Robert Donat,51853,302787539.0,93.0
Drama,Lifeboat,1944,97,7.6,Alfred Hitchcock,Tallulah Bankhead,26471,852142728.0,78.0
Family,Willy Wonka & the Chocolate Factory,1971,100,7.8,Mel Stuart,Gene Wilder,178731,4000000.0,67.0
Fantasy,Nosferatu,1922,94,7.9,F.W. Murnau,Max Schreck,88794,445151978.0,NaN
Film-Noir,Shadow of a Doubt,1943,108,7.8,Alfred Hitchcock,Teresa Wright,59556,123353292.0,94.0
Horror,The Others,2001,101,7.6,Alejandro Amenábar,Nicole Kidman,337651,96522687.0,74.0
Mystery,Lost Highway,1997,134,7.6,David Lynch,Bill Pullman,131101,3796699.0,52.0
Thriller,Wait Until Dark,1967,108,7.8,Terence Young,Audrey Hepburn,27733,17550741.0,81.0
Western,The Outlaw Josey Wales,1976,135,7.8,Clint Eastwood,Clint Eastwood,65659,31800000.0,69.0

In [106]:
movie.groupby('Genre').nth(5)

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
14,The Matrix,1999,136,Action,8.7,Lana Wachowski,Lilly Wachowski,1676426,171479930.0,73.0
24,Saving Private Ryan,1998,169,Drama,8.6,Steven Spielberg,Tom Hanks,1235804,216540909.0,91.0
25,The Green Mile,1999,189,Crime,8.6,Frank Darabont,Tom Hanks,1147794,136801374.0,61.0
54,Ayla: The Daughter of War,2017,125,Biography,8.4,Can Ulkay,Erdem Can,34112,679278040.0,NaN
61,Coco,2017,105,Animation,8.4,Lee Unkrich,Adrian Molina,384171,209726015.0,81.0
78,Dr. Strangelove or: How I Learned to Stop Worr...,1964,95,Comedy,8.4,Stanley Kubrick,Peter Sellers,450474,275902.0,97.0
116,Lawrence of Arabia,1962,228,Adventure,8.3,David Lean,Peter O'Toole,268085,44824144.0,100.0
393,Twelve Monkeys,1995,129,Mystery,8.0,Terry Gilliam,Bruce Willis,578443,57141459.0,74.0
707,The Innocents,1961,100,Horror,7.8,Jack Clayton,Deborah Kerr,27007,2616000.0,88.0

In [108]:
#Find all the 1999 Released_Year movies
movie.groupby('Released_Year').get_group('1999')

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
9,Fight Club,1999,139,Drama,8.8,David Fincher,Brad Pitt,1854740,37030102.0,66.0
14,The Matrix,1999,136,Action,8.7,Lana Wachowski,Lilly Wachowski,1676426,171479930.0,73.0
25,The Green Mile,1999,189,Crime,8.6,Frank Darabont,Tom Hanks,1147794,136801374.0,61.0
98,American Beauty,1999,122,Drama,8.3,Sam Mendes,Kevin Spacey,1069738,130096601.0,84.0
248,The Sixth Sense,1999,107,Drama,8.1,M. Night Shyamalan,Bruce Willis,911573,293506292.0,64.0
383,Magnolia,1999,188,Drama,8.0,Paul Thomas Anderson,Tom Cruise,289742,22455976.0,77.0
385,The Straight Story,1999,112,Biography,8.0,David Lynch,Richard Farnsworth,82002,6203044.0,86.0
389,The Iron Giant,1999,86,Animation,8.0,Brad Bird,Eli Marienthal,172083,23159305.0,85.0
516,Toy Story 2,1999,92,Animation,7.9,John Lasseter,Ash Brannon,527512,245852179.0,88.0
646,Todo sobre mi madre,1999,101,Drama,7.8,Pedro Almodóvar,Cecilia Roth,89058,8264530.0,87.0
648,The Boondock Saints,1999,108,Action,7.8,Troy Duffy,Willem Dafoe,227143,25812.0,44.0
649,The Insider,1999,157,Biography,7.8,Michael Mann,Russell Crowe,159886,28965197.0,84.0
650,October Sky,1999,108,Biography,7.8,Joe Johnston,Jake Gyllenhaal,82855,32481825.0,71.0
799,"South Park: Bigger, Longer & Uncut",1999,81,Animation,7.7,Trey Parker,Trey Parker,192112,52037603.0,73.0
800,Office Space,1999,89,Comedy,7.7,Mike Judge,Ron Livingston,241575,10824921.0,68.0
805,Being John Malkovich,1999,113,Comedy,7.7,Spike Jonze,John Cusack,312542,22858926.0,90.0
952,The Hurricane,1999,146,Biography,7.6,Norman Jewison,Denzel Washington,91557,50668906.0,74.0

In [110]:
# Using .agg()-  GroupBy columns with multiple aggregations-

# For each director, find the average IMDb rating and total runtime of their movies.

movie.groupby('Director').agg({
    'IMDB_Rating':'mean',
    'Runtime':'sum'
})

                     IMDB_Rating  Runtime
Director
Aamir Khan                  8.40      165
Aaron Sorkin                7.80      129
Abdellatif Kechiche         7.70      180
Abhishek Chaubey            7.80      148
Abhishek Kapoor             7.70      130
...                          ...      ...
Zack Snyder                 7.60      279
Zaza Urushadze              8.20       87
Zoya Akhtar                 8.05      309
Çagan Irmak                 8.30      112
Ömer Faruk Sorak            8.00      127

[548 rows x 2 columns]

In [111]:
# Q)- For each actor listed in the Star1 column, calculate:
#(a)- The average IMDb rating of all their movies
#(b)- The total number of movies they appeared in as lead
#(c)- The minimum Meta score among their movies


movie.groupby('Star1').agg({
    'IMDB_Rating':'mean',
    'Series_Title':'count',
    'Metascore':'min'
})

                      IMDB_Rating  Series_Title  Metascore
Star1
Aamir Khan               8.214286             7       67.0
Aaron Taylor-Johnson     7.600000             1       66.0
Abhay Deol               8.000000             1        NaN
Abraham Attah            7.700000             1       79.0
Adam Driver              7.900000             1       94.0
...                           ...           ...        ...
Zbigniew Zamachowski     7.600000             1       88.0
Zooey Deschanel          7.700000             1       76.0
Çetin Tekindor           8.300000             1        NaN
Éric Toledano            8.500000             1       57.0
Ömer Faruk Sorak         8.000000             1        NaN

[660 rows x 3 columns]

In [124]:
movie.groupby('Star1').agg({
    'IMDB_Rating':['mean','max','min'],  #find min/max/mean of IMDB_Rating.
    'Series_Title':['count'],            #Finding count of Series_Title
    'Metascore':['min','mean','max']      #Min/max/mean of Metascore
})

                     IMDB_Rating           Series_Title Metascore
                            mean  max  min        count       min  mean   max
Star1
Aamir Khan              8.214286  8.4  8.1            7      67.0  75.5  84.0
Aaron Taylor-Johnson    7.600000  7.6  7.6            1      66.0  66.0  66.0
Abhay Deol              8.000000  8.0  8.0            1       NaN   NaN   NaN
Abraham Attah           7.700000  7.7  7.7            1      79.0  79.0  79.0
Adam Driver             7.900000  7.9  7.9            1      94.0  94.0  94.0
...                          ...  ...  ...          ...       ...   ...   ...
Zbigniew Zamachowski    7.600000  7.6  7.6            1      88.0  88.0  88.0
Zooey Deschanel         7.700000  7.7  7.7            1      76.0  76.0  76.0
Çetin Tekindor          8.300000  8.3  8.3            1       NaN   NaN   NaN
Éric Toledano           8.500000  8.5  8.5            1      57.0  57.0  57.0
Ömer Faruk Sorak        8.000000  8.0  8.0            1       NaN   NaN   NaN

[660 rows x 7 columns]

In [122]:
# Using .agg()-  Using list of function for one column-

movie.groupby('Genre')['Runtime'].agg(['min','max','mean','sum'])

           min  max        mean    sum
Genre
Action      45  321  129.046512  22196
Adventure   88  228  134.111111   9656
Animation   71  137   99.585366   8166
Biography   93  209  136.022727  11970
Comedy      68  188  112.129032  17380
Crime       80  229  126.392523  13524
Drama       64  242  124.737024  36049
Family     100  115  107.500000    215
Fantasy     76   94   85.000000    170
Film-Noir  100  108  104.000000    312
Horror      71  122  102.090909   1123
Mystery     96  138  119.083333   1429
Thriller   108  108  108.000000    108
Western    132  165  148.250000    593

In [129]:
#apply()-

movie.groupby('Genre').apply(min)  #applying min()

C:\Users\Prince Chandravat\AppData\Local\Temp\ipykernel_3020\934370629.py:3: FutureWarning: The provided callable <built-in function min> is currently using np.minimum.reduce. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string np.minimum.reduce instead.
  movie.groupby('Genre').apply(min)
C:\Users\Prince Chandravat\AppData\Local\Temp\ipykernel_3020\934370629.py:3: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  movie.groupby('Genre').apply(min)

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,,
Action,300,1924,45,Action,7.6,Abhishek Chaubey,Aamir Khan,25312,3296.0,NaN
Adventure,2001: A Space Odyssey,1925,88,Adventure,7.6,Akira Kurosawa,Aamir Khan,29999,61001.0,NaN
Animation,Akira,1940,71,Animation,7.6,Adam Elliot,Adrian Molina,25229,128985.0,NaN
Biography,12 Years a Slave,1928,93,Biography,7.6,Adam McKay,Adrien Brody,27254,21877.0,NaN
Comedy,(500) Days of Summer,1921,68,Comedy,7.6,Alejandro G. Iñárritu,Aamir Khan,26337,1305.0,NaN
Crime,12 Angry Men,1931,80,Crime,7.6,Akira Kurosawa,Ajay Devgn,27712,6013.0,NaN
Drama,1917,1925,64,Drama,7.6,Aamir Khan,Abhay Deol,25088,3600.0,NaN
Family,E.T. the Extra-Terrestrial,1971,100,Family,7.8,Mel Stuart,Gene Wilder,178731,4000000.0,67.0
Fantasy,Das Cabinet des Dr. Caligari,1920,76,Fantasy,7.9,F.W. Murnau,Max Schreck,57428,337574718.0,NaN
Film-Noir,Shadow of a Doubt,1941,100,Film-Noir,7.8,Alfred Hitchcock,Humphrey Bogart,59556,449191.0,94.0
Horror,Alien,1933,71,Horror,7.6,Alejandro Amenábar,Anthony Perkins,27007,89029.0,46.0
Mystery,Dark City,1938,96,Mystery,7.6,Alex Proyas,Bernard-Pierre Donnadieu,33982,1035953.0,NaN
Thriller,Wait Until Dark,1967,108,Thriller,7.8,Terence Young,Audrey Hepburn,27733,17550741.0,81.0
Western,"Il buono, il brutto, il cattivo",1965,132,Western,7.8,Clint Eastwood,Clint Eastwood,65659,5321508.0,69.0

In [136]:
#Create a norm_rating function for calculating normalization


#Creating a function for print Normalization-
def normal(group):
    group['norm_rating']=group['IMDB_Rating']-group['IMDB_Rating'].min()/(group['IMDB_Rating'].max()-group['IMDB_Rating'].min())
    return group

normalization=movie.groupby('Genre').apply(normal)    #creating a variable for apply function.

normalization

C:\Users\Prince Chandravat\AppData\Local\Temp\ipykernel_3020\2689290472.py:2: RuntimeWarning: divide by zero encountered in scalar divide
  group['norm_rating']=group['IMDB_Rating']-group['IMDB_Rating'].min()/(group['IMDB_Rating'].max()-group['IMDB_Rating'].min())
C:\Users\Prince Chandravat\AppData\Local\Temp\ipykernel_3020\2689290472.py:2: RuntimeWarning: divide by zero encountered in scalar divide
  group['norm_rating']=group['IMDB_Rating']-group['IMDB_Rating'].min()/(group['IMDB_Rating'].max()-group['IMDB_Rating'].min())
C:\Users\Prince Chandravat\AppData\Local\Temp\ipykernel_3020\2689290472.py:4: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  movie.groupby('Genre').apply(normal)

                                                   Series_Title Released_Year  \
Genre
Action   2                                      The Dark Knight          2008
         5        The Lord of the Rings: The Return of the King          2003
         8                                            Inception          2010
         10   The Lord of the Rings: The Fellowship of the Ring          2001
         13               The Lord of the Rings: The Two Towers          2002
...                                                         ...           ...
Thriller 700                                    Wait Until Dark          1967
Western  12                     Il buono, il brutto, il cattivo          1966
         48                        Once Upon a Time in the West          1968
         115                         Per qualche dollaro in più          1965
         691                             The Outlaw Josey Wales          1976

              Runtime     Genre  IMDB_Rating           Director  \
Genre
Action   2        152    Action          9.0  Christopher Nolan
         5        201    Action          8.9      Peter Jackson
         8        148    Action          8.8  Christopher Nolan
         10       178    Action          8.8      Peter Jackson
         13       179    Action          8.7      Peter Jackson
...               ...       ...          ...                ...
Thriller 700      108  Thriller          7.8      Terence Young
Western  12       161   Western          8.8       Sergio Leone
         48       165   Western          8.5       Sergio Leone
         115      132   Western          8.3       Sergio Leone
         691      135   Western          7.8     Clint Eastwood

                          Star1  No_of_Votes        Gross  Metascore  \
Genre
Action   2       Christian Bale      2303232  534858444.0       84.0
         5          Elijah Wood      1642758  377845905.0       94.0
         8    Leonardo DiCaprio      2067042  292576195.0       74.0
         10         Elijah Wood      1661481  315544750.0       92.0
         13         Elijah Wood      1485555  342551365.0       87.0
...                         ...          ...          ...        ...
Thriller 700     Audrey Hepburn        27733   17550741.0       81.0
Western  12      Clint Eastwood       688390    6100000.0       90.0
         48         Henry Fonda       302844    5321508.0       80.0
         115     Clint Eastwood       232772   15000000.0       74.0
         691     Clint Eastwood        65659   31800000.0       69.0

               norm_rating
Genre
Action   2    3.571429e+00
         5    3.471429e+00
         8    3.371429e+00
         10   3.371429e+00
         13   3.271429e+00
...                    ...
Thriller 700          -inf
Western  12   1.000000e+00
         48   7.000000e-01
         115  5.000000e-01
         691  7.105427e-15

[1000 rows x 11 columns]

In [137]:
#Grouping By Multiple Columns-

duo=movie.groupby(['Director','Star1'])   #Grouping by list-
duo.size()

Director             Star1
Aamir Khan           Amole Gupte       1
Aaron Sorkin         Eddie Redmayne    1
Abdellatif Kechiche  Léa Seydoux       1
Abhishek Chaubey     Shahid Kapoor     1
Abhishek Kapoor      Amit Sadh         1
                                      ..
Zaza Urushadze       Lembit Ulfsak     1
Zoya Akhtar          Hrithik Roshan    1
                     Vijay Varma       1
Çagan Irmak          Çetin Tekindor    1
Ömer Faruk Sorak     Cem Yilmaz        1
Length: 898, dtype: int64

In [141]:
duo.get_group(('Abhishek Chaubey','Shahid Kapoor'))    #finding a specific duo

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
577,Udta Punjab,2016,148,Action,7.8,Abhishek Chaubey,Shahid Kapoor,27175,218428303.0,NaN