# Reading CSV file in Pandas:-






# *A House Prediction CSV File:-

In [53]:
#Reading a House Prediction CSV File-

import pandas as pd         #Import pandas as pd
from io import StringIO  #Import StringIO 

#Reading a CSV File in pandas-
house_prediction=pd.read_csv("C:\\Users\\Prince Chandravat\\Downloads\\house-price-parquet.csv")   #Reading a CSV File

print(type(house_prediction))
house_prediction

<class 'pandas.core.frame.DataFrame'>

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

In [54]:
#READING SELECTED COLUMNS

In [7]:
# selecting only price,bedrooms,furnishingstatus

house_specific=pd.read_csv("C:\\Users\\Prince Chandravat\\Downloads\\house-price-parquet.csv",usecols=['price','furnishingstatus','bedrooms'])

house_specific

        price  bedrooms furnishingstatus
0    13300000         4        furnished
1    12250000         4        furnished
2    12250000         3   semi-furnished
3    12215000         4        furnished
4    11410000         4        furnished
..        ...       ...              ...
540   1820000         2      unfurnished
541   1767150         3   semi-furnished
542   1750000         2      unfurnished
543   1750000         3        furnished
544   1750000         3      unfurnished

[545 rows x 3 columns]

In [8]:
#READING WITH INDEX_COLUMN:-

In [9]:
#It is used when we want column as index-

# Setting index column while reading
df_indexed = pd.read_csv("C:\\Users\\Prince Chandravat\\Downloads\\house-price-parquet.csv", index_col=['price'])  #price set as an index.

df_indexed

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
price,,,,,,,,,,,,
13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...
1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

In [24]:
# info/describe/head.

#use only price column
house_prices=pd.read_csv("C:\\Users\\Prince Chandravat\\Downloads\\house-price-parquet.csv",usecols=['price'])
house_prices

print(house_prices.head())   #starting 5 indexes of price

print()

print(house_prices.info())    #info of price

print()

print(house_prices.describe())

      price
0  13300000
1  12250000
2  12250000
3  12215000
4  11410000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   price   545 non-null    int64
dtypes: int64(1)
memory usage: 4.4 KB
None

              price
count  5.450000e+02
mean   4.766729e+06
std    1.870440e+06
min    1.750000e+06
25%    3.430000e+06
50%    4.340000e+06
75%    5.740000e+06
max    1.330000e+07

In [58]:
#Slicing of csv file-

house_prediction[3:22]  #slicing from 3-21.

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
5,10850000,7500,3,3,1,yes,no,yes,no,yes,2,yes,semi-furnished
6,10150000,8580,4,3,4,yes,no,no,no,yes,2,yes,semi-furnished
7,10150000,16200,5,3,2,yes,no,no,no,no,0,no,unfurnished
8,9870000,8100,4,1,2,yes,yes,yes,no,yes,2,yes,furnished
9,9800000,5750,3,2,4,yes,yes,no,no,yes,1,yes,unfurnished
10,9800000,13200,3,1,2,yes,no,yes,no,yes,2,yes,furnished
11,9681000,6000,4,3,2,yes,yes,yes,yes,no,2,no,semi-furnished
12,9310000,6550,4,2,2,yes,no,no,no,yes,1,yes,semi-furnished
13,9240000,3500,4,2,2,yes,no,no,yes,no,2,no,furnished
14,9240000,7800,3,2,2,yes,no,no,no,no,0,yes,semi-furnished
15,9100000,6000,4,1,2,yes,no,yes,no,no,2,no,semi-furnished
16,9100000,6600,4,2,2,yes,yes,yes,no,yes,1,yes,unfurnished
17,8960000,8500,3,2,4,yes,no,no,no,yes,2,no,furnished
18,8890000,4600,3,2,2,yes,yes,no,no,yes,2,no,furnished
19,8855000,6420,3,2,2,yes,no,no,no,yes,1,yes,semi-furnished
20,8750000,4320,3,1,2,yes,no,yes,yes,no,2,no,semi-furnished
21,8680000,7155,3,2,1,yes,yes,yes,no,yes,2,no,unfurnished

In [27]:
# min/max/prod-

print(house_prices.min())    #minimum price of house
print(house_prices.max())   #maximum price of house
print(house_prices.prod())   #product of house

price    1750000
dtype: int64
price    13300000
dtype: int64
price    0
dtype: int64

In [108]:
Students_data=pd.read_csv("C:\\Users\\Prince Chandravat\\Downloads\\titanic-parquet.csv")
Students_data.head()

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\Prince Chandravat\\Downloads\\titanic-parquet.csv'

# Writing CSV File in Pandas:-

In [ ]:
# Creating CSV DataFrame using stringIO-

import pandas as pd
from io import StringIO

# Define the CSV data as a multiline string
data = """Name,Age,City
Prince,20,Delhi
Keshav,21,Gurugram
Hritik,22,Jaipur
Devesh,20,Mumbai
Kartik,22,Agra"""

# Create an in-memory file-like buffer
csv_buffer = StringIO(data)

# Read the CSV data into a pandas DataFrame
df = pd.read_csv(csv_buffer)

# Display the resulting DataFrame
df

In [92]:
#Basic CSV Writing-
import pandas as pd

#Creating dataFrame
data = {
    'Name': ['Prince chandravat', 'Shruti khapra', 'Vibhor sharma'],
    'Age': [25, 30, 22],
    'City': ['Delhi', 'Mumbai', 'Bangalore']
}
df = pd.DataFrame(data)

#Write to csv
df.to_csv('basic_data.csv')

#Check
df.head()

                Name  Age       City
0  Prince chandravat   25      Delhi
1      Shruti khapra   30     Mumbai
2      Vibhor sharma   22  Bangalore

In [ ]:
#Writing without indexing-

data={
    'Name':['Prince','Gaurav','Sonakshi'],
    'Age':[20,22,23],
    'city':['Delhi','Mumbai','Ahemdabad']}

df1=pd.DataFrame(data)

df1.to_csv("without_indexing.csv",index=False)
print(df1.head())

In [102]:
# Writing again with index for demo
df.to_csv('custom_index.csv')

# Reading with index_col
df_indexed = pd.read_csv('custom_index.csv', index_col=0)
print(df_indexed)

                Name  Age       City
0  Prince chandravat   25      Delhi
1      Shruti khapra   30     Mumbai
2      Vibhor sharma   22  Bangalore

In [103]:
# Read only Name and City columns
df_cols = pd.read_csv('without_index.csv', usecols=['Name', 'City'])
print(df_cols)

     Name       City
0  Prince      Delhi
1  Shruti     Mumbai
2  Vibhor  Ahemdabad

In [104]:
# Write with a pipe separator
df.to_csv('pipe_sep.csv', sep='|', index=False)

# Read with pipe separator
df_pipe = pd.read_csv('pipe_sep.csv', sep='|')
print(df_pipe)

                Name  Age       City
0  Prince chandravat   25      Delhi
1      Shruti khapra   30     Mumbai
2      Vibhor sharma   22  Bangalore